@import '../../app.scss';

.features{
        background:linear-gradient(1880deg,#0c0c1d,#111132);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include mobile{
                
        }

        .textContainer{
                flex:1;
                align-self: flex-end;
                display:flex;
                flex-direction: row;
                align-items: center;
                gap:20px;
                margin:20px;

                
                @include mobile{
                        align-self:center;
                        flex-direction:column;
                        text-align:center;
                        flex:0.5;
                }
                p{
                        font-weight: 200;
                        font-size: 20px;
                        text-align: right;
                }
                hr{
                        width: 500px;
                        border:none;
                        border-top:.5rem;
                        height: 2px;
                        background:white;
                        
                        @include mobile{
                                width:350px;
                        }
                }
        }
        .titleContainer{
                flex:1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:50px;

                @include mobile{
                        text-align:center;
                        flex:0.5;
                }

                
                img{
                        width:300px;
                        height: 100px;
                        border: 50px;
                        object-fit: cover;
                }
                h1{
                        // font-size: 96px;
                        font-size: 66px;
                        font-weight: 100;
                        @include mobile{
                                
                        font-size: 36px;
                        }
                }
        }
        .listContainer{
                flex:2;
                display: flex;
                gap:50px;
                max-width:1366px;

                @include mobile{
                        flex-direction:column;
                        width:100%;
                        gap:0;
                }

                .box{
                        display:flex;
                        flex-direction: column;
                        border:1px solid grey;
                        padding:1.2rem;
                        height:40vh;
                        justify-content: space-between;
                        @include mobile{
                                justify-content:center;
                                gap:20px;
                                margin:20px;
                        }
                        button{
                                background:var(--color-primary);
                                padding: 10px;
                                border:none;
                                border-radius: 10px;
                                cursor: pointer;
                        }
                }
        }
}