.summerizer-upload-container {
        margin: 10rem auto;
        max-width: 600px;
        padding: 30px 20px;
        border: 2px solid #ccc;
        border-style:dashed;
        border-radius: 10px;
        // background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
        nav {
            margin-bottom: 20px;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 20px;
                cursor: pointer;
                h1 {
                    font-size: 24px;
                    font-weight: bold;
                    color: #333;
                    margin: 0;
                }
            }
        }
    
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin:auto 5rem;
    
            form {
                width: 100%;
                max-width: 400px;
    
                .upload-video-icons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    label {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        margin-bottom: 20px;
    
                        input[type="file"] {
                            display: none;
                        }
    
                        .cover{
                                background:#423751;
                                border-radius: 50%;
                                padding:2rem;
                                display:grid;
                                place-items:center;
                                .upload-icon {
                                        font-size:5rem;
                                        color: #007bff; // Adjust icon color
                                        margin-right: 10px;
            
                                    }
                        }
                    }
    
                    button {
                        padding: 10px 20px;
                        font-size: 16px;
                        background-color: #007bff;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s;
    
                        &:hover {
                            background-color: #0056b3; // Darker shade of primary color
                        }
                    }
                }
            }
        }
    }
    